<<<<<<< HEAD
@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

body {
  font-family: Bellota;
  font-size: 16px;
  color: #000;
  line-height: 1;
  background-color: #dedfdf;
}

img {
  max-width: 100%;
}

.first-view {
  height: calc(80vh - 85px);
  background-image: url(../img/firstview-img01.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.header {
  background-image: url(../img/header-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.header-inner {
  max-width: 1500px;
  height: 100px;
  margin: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block;
  width: 120px;
}

.header-logo:hover{
  animation: rotate-logo 5s linear infinite;
}

@keyframes rotate-logo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.site-menu ul {
  display: flex;
  
}

.site-menu ul li {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 55px;
  
}

.header-link img {
  margin-top: 20px;
  padding-top: 20px;
}


.footer {
  background-image:url(../img/footer-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 30%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
}

.container ul {
  padding: 20px;
}

.container h4 {
  font-size: 14px;
}

.container li {
  font-size: 16px;
  padding-top: 10px;
  margin-top: 20px;
}

.copyright {
  font-size: 14px;
  margin-top: 40px;
}

.feature {
  display: flex;
  justify-content: space-between;
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

.feature-text p {
 margin-top: 60px;
 max-width: 500px;
 margin-right: 40px;
}

.feature-text h1 {
  display: block;
  font-size: 45px;
  font-weight: 800;
  height: 120px;
}
.feature img {
  width: 50%;
  
}

.title-shop {
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.title-shop h1 {
  display: block;
  font-size: 45px;
  font-weight: 800;
  height: 120px;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  column-gap: 95px;
  row-gap: 70px;
  justify-content: center;
}

.item-list a {
  display: block;
}

.item-list a img:hover {
  transform: scale(1.05);
}
.item-list dl {
  padding-top: 15px;
}

.item-list dt {
  font-size: 17px;
  margin: 15px;
}

.item-list p{
  padding-top: 12px;
  margin: 15px;
}
=======
@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

body {
  font-family: Bellota;
  font-size: 16px;
  color: #000;
  line-height: 1;
  background-color: #dfdede;
}

img {
  max-width: 100%;
}

.first-view {
  height: calc(90vh - 95px);
  background-image: url(../img/firstview-img01.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-inner {
  max-width: 1500px;
  height: 100px;
  margin: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block;
  width: 170px;
}

.header-logo:hover{
  animation: rotate-logo 5s linear infinite;
}

@keyframes rotate-logo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.site-menu ul {
  display: flex;
}

.site-menu ul li {
  margin: 20px 20px;
  padding: 0;
}

.site-menu img {
  width: 50px;
   margin: 12px;
}

.site-menu ul img {
  margin-top: 15px;
}

.footer {
  background-image:url(../img/header-footer-img01.png);
  padding-top: 0;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
}

.container ul {
  padding: 20px;
}

.container h4 {
  font-size: 14px;
}

.container li {
  font-size: 16px;
  padding-top: 10px;
  margin-top: 20px;
}

.copyright {
  font-size: 14px;
  margin-top: 40px;
}

.feature {
  display: flex;
  justify-content: space-between;
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

.feature-text p {
 margin-top: 60px;
 max-width: 500px;
 margin-right: 40px;
}

.feature-text h1 {
  display: block;
  font-size: 45px;
  font-weight: 800;
  height: 120px;
}
.feature img {
  width: 50%;
  
}

.title-shop {
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

.title-shop h1 {
  display: block;
  font-size: 45px;
  font-weight: 800;
  height: 120px;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  column-gap: 95px;
  row-gap: 70px;
  justify-content: center;
}
>>>>>>> df3aad617193b788793aee0833cab20594c34303
