@charset "utf-8";
 
.header-link img {
  margin-top: 20px;
  padding-top: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 70%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border-bottom-style: dashed;
  border-bottom-width: 1mm;
}

.title h1 {
  display: block;
  font-size: 45px;
  font-weight: 800;
}

.shop-contents {
  width: 100%;
  max-width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.item-area {
  /* height: 100%; */
  margin-top: auto;
  /* background-color: #fff; */
  display: flex;
}

.item-area img {
  width: 50%;
  max-width: 380px;
}

.item-area img:hover {
  transform: scale(1.05);
}

.about-item {
  margin: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-item h2 {
  font-size: 25px;
  white-space: nowrap;
}


.about-item .text {
  margin-top: 25px;
  font-size: 23px;
  align-items: flex-start;   
  line-height: 26px;
}

.about-item .price {
  font-size: 25px;
  margin-top: 20px;
  /* text-align: center; */
}

.quantity {
  margin: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.quantity .a {
  margin-right: 20px;
  margin-left: 25px;
  font-size: 13px;
  background-color: rgba(146, 163, 173, 0.781);
  color: #031335;
}

.quantity a:hover {
  animation: color ease forwards;
  background-color: #fff;
}

.item-group {
  width: 50%;
}

.item-group a {
  display: block;
}

.item-group a img:hover {
  transform: scale(1.05);
}


.shop-menu {
  display: flex;
  flex-shrink: 0;
  margin-right: 60px;
  position: relative;
  position: sticky;
}

.sidebar {
  width: 25%;
  padding-bottom: 50px;
  flex-grow: 1;
  max-width: 250px;
}
